#editComponent{
    float: left;
    margin-right: 10%;
}

#component{
    float: left;
    margin-right: 10%;
}

#challengeComponent{

}

#hostTournamentComponent{

}

#joinTournamentComponent{

}

#listComponent{
    float: right;
    width: 55%;
}

