@page "/Login"
@using Group9_SEP3_Chess.Data
@namespace Group9_SEP3_Chess.Components
@inject NavigationManager nvgManager;
@inject IUserService userService;
@inject AuthenticationStateProvider authenticationStateProvider;


<AuthorizeView>
    <NotAuthorized>
        <div class="login">
            <label>User name:</label>
            <input type="text" placeholder="user name" @bind-value="userName"/>
        </div>
        <div class="login">
            <label id="pass">Password:</label>
            <input type="password" placeholder="password" @bind-value="password"/>
        </div>
        <div style="color:red">@errorMessage</div>
        <button id="btn1"class="btn btn-outline-dark" type="submit" @onclick="PerformLogin">Login</button>
    </NotAuthorized>
    <Authorized>
        <button id="btn2" class="btn btn-outline-dark" type="submit" @onclick="EnterAccount">Account</button>
        <button id="btn2" class="btn btn-outline-dark" type="submit" @onclick="PerformLogout">Logout</button>
    </Authorized>
</AuthorizeView>




@code {
    private string userName;
    private string password;
    private string errorMessage;

    public async Task PerformLogin()
    {
        errorMessage = "";
        try
        {
            await ((CustomAuthenticationStateProvider) authenticationStateProvider).ValidateLogin(userName, password);
            nvgManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }

    public async Task PerformLogout()
    {
        errorMessage = "";
        userName = "";
        password = "";
        try
        {
            ((CustomAuthenticationStateProvider) authenticationStateProvider).Logout();
            nvgManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            
        }
    }

    public async Task EnterAccount()
    {
        nvgManager.NavigateTo("/Edit");
    }
}