.square[b-xh6h2n1mcn] {
    background-color: #3b3737;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.square:hover[b-xh6h2n1mcn] {
    background-color: rgba(106, 202, 9, 0.8);
}