@page "/"
@inject NavigationManager _navigationManager
<button class="btn btn-dark" @onclick='() => PlayMatch()'>Play match</button>
<h2 style="text-align: center">Chess board</h2>
<div style=" margin: auto; width: 70%;">
    <ChessBoard></ChessBoard>
</div>

@code{

    private void PlayMatch()
    {
        _navigationManager.NavigateTo($"play");
    }
}