@page "/"
@using Group9_SEP3_Chess.Components

<AuthorizeView>
    <Authorized>
        <h2 style="text-align: center">Chess board</h2>
        <div >
            <Edit></Edit>
            <MatchList/>
            <HistoryOfMatches></HistoryOfMatches>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Hello!</h1>
        <Register/>
    </NotAuthorized>
</AuthorizeView>

@code{

}