@page "/"
@using Group9_SEP3_Chess.Components
@inject AuthenticationStateProvider authenticationStateProvider;

<link href="Index.css" rel="stylesheet">
<AuthorizeView>
    <Authorized>
        <div id="editComponent">
            <Edit></Edit>
        </div>
        <div id="component">
            <div id="challengeComponent">
                <Play></Play>
            </div>
            <div id="hostTournamentComponent">
                <JoinTournament></JoinTournament>
            </div>
            <div id="joinTournamentComponent"></div>
        </div>
        <div id="listComponent">
            <TabControl>
                <TabPage Text="Matches">
                    <MatchList/>
                </TabPage>
                <TabPage Text="History">
                    <HistoryOfMatches></HistoryOfMatches>
                </TabPage>
                <TabPage Text="Challenges">
                    <Challenges></Challenges>
                </TabPage>
                <TabPage Text="Tournament History">
                    <TournamentHistory></TournamentHistory>
                </TabPage>
            </TabControl>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Hello!</h1>
        <Register/>
    </NotAuthorized>
</AuthorizeView>

@code{


}