@page "/"
@inject NavigationManager _navigationManager

<AuthorizeView>
    <Authorized>
        <button class="btn btn-dark" @onclick='() => PlayMatch()'>Play match</button>
        <h2 style="text-align: center">Chess board</h2>
        <div >
            <ChessBoard></ChessBoard>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Hello!</h1>
        <Register/>
    </NotAuthorized>
</AuthorizeView>

@code{

    private void PlayMatch()
    {
        _navigationManager.NavigateTo($"play");
    }
}