@page "/"
@using Group9_SEP3_Chess.Components

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-3">
                <div id="editComponent">
                    <Edit></Edit>
                </div>
            </div>
            <div class="col-3">
                <div id="component">
                    <div id="challengeComponent">
                        <CreateChallenge/>
                    </div>
                    <div id="TournamentComponent">
                        <JoinTournament/>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div id="listComponent">
                    <TabControl>
                        <TabPage Text="Matches">
                            <MatchList ActiveMatches="true"/>
                        </TabPage>
                        <TabPage Text="History">
                            <MatchList ActiveMatches="false"/>
                        </TabPage>
                        <TabPage Text="Challenges">
                            <Challenges/>
                        </TabPage>
                        <TabPage Text="Tournament History">
                            <TournamentHistory/>
                        </TabPage>
                    </TabControl>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome!</h1>
        <Register/>
    </NotAuthorized>
</AuthorizeView>

@code{


}