@page "/"
@using Group9_SEP3_Chess.Components

<link href="Index.css" rel="stylesheet">
<AuthorizeView>
    <Authorized>
        <div id="editComponent">
            <Edit></Edit>
        </div>
        <div id="component">
            <div id="challengeComponent">
                <CreateChallenge/>
            </div>
            <div id="TournamentComponent">
                <JoinTournament/>
            </div>
        </div>
        <div id="listComponent">
            <TabControl>
                <TabPage Text="Matches">
                    <MatchList ActiveMatches="true"/>
                </TabPage>
                <TabPage Text="History">
                    <MatchList ActiveMatches="false"/>
                </TabPage>
                <TabPage Text="Challenges">
                    <Challenges/>
                </TabPage>
                <TabPage Text="Tournament History">
                    <TournamentHistory/>
                </TabPage>
            </TabControl>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Hello!</h1>
        <Register/>
    </NotAuthorized>
</AuthorizeView>

@code{


}